.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  background-color: #111827; /* tom escuro elegante */
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  color: #fff;
  /* z-index: 1000; */
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.logo img {
  width: 40px;
  height: 40px;
}

.logo h2 {
  font-size: 1.3rem;
  color: #f9fafb;
  font-weight: bold;
  font-family: 'Segoe UI', sans-serif;
}

.nav_links {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

.nav_links li {
  margin-bottom: 1.2rem;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  transition: background 0.3s ease;
  cursor: pointer;
}

.nav_links li a {
  text-decoration: none;
  color: #d1d5db;
  font-size: 1rem;
  display: block;
}

.nav_links li:hover,
.nav_links li a:hover {
  background-color: #1f2937;
  color: #fff;
}

.logout {
  background-color: #b91c1c;
  color: white;
  font-weight: bold;
  text-align: center;
}

.logout:hover {
  background-color: #991b1b;
}

/* Conteúdo principal precisa se ajustar */
body, #root {
  /* display: flex; */
}

main {
  margin-left: 240px; /* espaço para o sidebar */
  padding: 2rem;
  flex: 1;
}
